<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit-icons.min.js"></script>
    <title>Регистрация</title>
</head>

<body style="background-color: #f5f5f5;">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport">
      <div class="uk-card uk-card-default uk-card-body uk-width-medium">
        <h1 class="uk-card-title uk-text-center uk-text-uppercase uk-text-bold">Регистрация</h1>
        <form class="uk-form-stacked" action="/register" method="post">
          <div class="uk-margin">
            <label class="uk-form-label" for="email">Email:</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="email" id="email" name="email" required>
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="password">Пароль:</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="password" id="password" name="password" required>
            </div>
          </div>
          <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-width-1-1" type="submit">Зарегистрироваться</button>
          </div>
          <div class="uk-text-center uk-flex uk-flex-column">
            <i>Уже есть аккаунт?</i>
            <a href="/login"><b>Войти</b></a>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>